body {
	color: white;
	font-family: "Raleway", sans-serif;
	text-shadow: 1px 1px 15px black;
	background: 
		linear-gradient(
			rgba(255,192,203, 0.75),
			rgba(255,110,199, 0.45)
		),
		url(../images/background.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	width: 75%;
}

.job-title {
	color: #FFFF33;
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr {
	width: 10rem;
	border: none;
	height: 2px;
	background-color: #FF3333;
	margin: 1.5rem 0;
}

.works {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	color: #FFFF33;
}

.works img {
	height: 60px;
	margin: 2px;
}

.works img:hover{
	height: 300px;
}

.image-container {
	width: 100%;
	text-align: center;
}

.image-container img {
	width: 250px;
	border-radius: 50%;
}

.social-media a {
	color: white;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
	text-decoration: none;
}

.social-media a:hover {
	opacity: 1;
}

@media (max-width: 980px) {
	.container {
		flex-direction: column;
		text-align: center;
	}

	.overview {
		order: 1;
	}

	.image-container img{
		width: 200px;
	}

	hr{
		margin: auto;
	}

	.works img:hover{
		height: 60px;
	}
}